{% extends 'moodspace/base.html' %}
{% block title %}Дневник{% endblock %}
{% block content %}

<h3 class="text-center mb-5">Мой дневник воспоминаний</h3>

<div class="card date-card shadow-sm p-3 mb-5">
    <form method = 'GET' class="row g-2 align-items-center">
        
        <div class="col-md-4">
            <label class="form-label">Выбери дату:</label>
            <input type="date" class="form-control" name="date">
        </div>
        
        <div class="col-auto mt-4">
            <button class="btn btn-grey">Найти</button>
        </div>

        <div class="col-auto mt-4">
            <a href="{% url 'create_diary'%}" class="btn btn-viol">Новая запись</a>
        </div>
    </form>

</div> 
    
    <div class="row">
    {% for i in diaries %}

    <div class="col-md-6 mb-4">
        <div class="card diary-card shadow-sm h-100">
            <div class="card-body">
                <p class="card-text mb-1">{{ i.text }}</p>
                {% if i.image_user %}
                    <img src="{{ i.image_user.url}}" class="diary-image ">
                {% endif %}

        
            <p class="text-muted">{{ i.date_created }}</p>
            

            <div class="d-flex gap-2 mt-4">
                <a href="{% url 'edit_diary' i.id %}"
                    class="btn btn-up">
                    Редактировать
                </a>

                <form method="POST" action="{% url 'delete_diary' i.id%}">
                    {% csrf_token %}
                    <button class="btn btn-del">Удалить</button>
                </form>
            </div>
        
        </div>
    </div>
</div>
    {% empty %}
<div class="alert alert-info text-center">
    <p>Пока ничего нет</p>
</div>
    

    {% endfor %}
</div>
{% endblock %}