{% extends 'moodspace/base.html' %}
{% load static %}
{% block title %}Избранное{% endblock %}
{% block content %}

    <h2>Избранное</h2>
{% for favor in favorites %}
    <h3>{{ favor.recommendation.title }}</h3>
    <img
            src="{% static favor.recommendation.image_rec %}"
            alt="{{ favor.recommendation.title }}"
            width="100"
        >
    <p>{{ favor.recommendation.description }}</p>

    <form method="POST" action="{% url 'remove_favorite' favor.recommendation.id %}">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>

{% empty %}
    <p>У вас пока нет рекомендаций</p>
{% endfor %}
{% endblock %}