{% extends 'moodspace/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Добро пожаловать!</h1>
    <p>Это пространство, где вы можете фиксировать свое настроение и получать персональные рекомендации.</p>
    
    <h3>Навигация по сайту:</h3>
    <ul>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
        <li><a href="{% url 'login' %}">Вход в аккаунт</a></li>
        
        <li><a href="{% url 'create_diary' %}">Мой дневник (Написать запись)</a></li>
        <li><a href="#">Рекомендации (в разработке)</a></li>
    </ul>
{% endblock %}
