{% extends 'moodspace/base.html' %}
{% load static %}
{% block title %}Мой профиль{% endblock %}
{% block content %}

<h3 class="text-center mb-5">Мой профиль</h3>

<div class="card shadow-sm profile-card mb-4">
    <div class="card-body text-center">
        <h5>{{ request.user.username }}</h5>
    </div>

</div>
    
<div class="card shadow-sm recommendation-card mb-4">
    <div class="card-body">
        <h4>Статистика настроения</h4>

        {% if statistic %}

        <ul class="list-group">
            {% for st in statistic %}
            <li class="list-group-item">
                {{ st.vibe_user__vibe_name }} - {{ st.total }}
            </li>
            {% endfor %}
        </ul>

        {%  else %}
        <p class="text-muted">Пусто</p>
        {% endif %}
    </div>
</div>



<div class="card shadow-sm recommendation-card mb-4">
    <div class="card-body">
        <h4> Записей в дневнике: {{ diary_count }}</h4>
    </div>
</div>



<h4 class="text-center mb-4">Мои рекомендации</h4>

<div class="d-flex justify-content-center gap-2 flex-wrap mb-5">
    <a href="?status=all">
        <button class="btn btn-grey" {% if status == 'all' %}disabled
        {% endif %}>
        Все
        </button>
    </a>

    <a href="?status=favorite">
        <button class="btn btn-viol"
        {% if status == 'favorite' %}disabled
        {% endif %}>
            Избранное
        </button>
    </a>

    <a href="?status=viewed">
        <button class="btn btn-viol" 
        {% if status == 'viewed' %}disabled
        {% endif %}>
            Просмотрено
        </button>
    </a>

    <a href="?status=disliked">
        <button class="btn btn-viol"
        {% if status == 'disliked' %}disabled
        {% endif %}>
            Не понравилось
        </button>
    </a>

</div>


{% for i in recommendations %}

<div class="row justify-content-center mb-4">
    <div class="col-lg-8">
        <div class="card shadow-sm recommendation-card">
            <div class="row align-items-center">
                

                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="text-muted" >{{ i.recommendation.get_type_rec_display }}</h6>
                        <h5> {{ i.recommendation.title }}</h5>
                        <p> {{ i.recommendation.description }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% empty %}
<div class="alert alert-info text-center">
    <p>Пока ничего нет</p>
</div>
{% endfor %}
{% endblock %}